:root {
  --primary-color: #f5f1ed;
  --secondary-color: #eeebea;
  --accent-color: #593b28;
  --fg-color: #261911;
  --fg-secondary-color: #3c3029;
  --fg-tertiary-color: rgba(60, 48, 41, 0.5);
  --gray-color: #867d77;
  --red-color: #9d2933;
  --green-color: #3f704d;
  --gray-color-secondary: #b6afaa;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

#root {
  background-color: var(--primary-color);
  color: var(--fg-color);
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
