:root {
  --primary-color: #f5f1ed;
  --secondary-color: #eeebea;
  --accent-color: #593b28;
  --fg-color: #261911;
  --fg-secondary-color: #3c3029;
  --gray-color: #b6afaa;
  --red-color: #9d2933;
  --green-color: #3f704d;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  min-height: 100%;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  color: var(--fg-color);
  min-height: 100vh;
  padding: 5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
