.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1.5rem;
  position: sticky;
  top: 0;
}

.left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  width: 3.5rem;
  height: 3rem;
}

.logo_text {
  font-size: 2rem;
  font-weight: 600;
  color: var(--fg-color);
}

.right {
  display: flex;
  gap: 5rem;
}

.cta_button {
  display: flex;
  gap: 2rem;
  font-size: 1.6rem;

  padding: 1.2rem 2rem;
  text-wrap: nowrap;
}

.submit_button {
  background-color: var(--fg-color);
}

.reset_button {
  background-color: var(--red-color);
}
