.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;
}

.label {
  color: var(--gray-color);
  font-size: 1.4rem;
  margin-left: 1rem;
}

.input_wrapper {
  display: flex;
  align-self: flex-start;
  margin: 0;
  gap: 0.75rem;
  width: 100%;
}

.input {
  background-color: var(--gray-light-color);
  border-radius: 1rem;
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  margin: 0;
  transition: all 0.3s ease;
  height: 3.2rem;
  outline: none;
  border: none;
  color: var(--fg-color);

  &:focus {
    outline: 5px solid #dfdbd8;
  }

  & button {
    outline: none;
    border: none;
    background-color: transparent;
  }
}

.error {
  color: var(--red-color);
  font-size: 1.4rem;
  margin-top: 0.5rem;
}
