.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 3rem 2rem;
  flex: 1;
  @media screen and (min-width: 700px) {
    & {
      width: 70vw;
      padding: 4rem 3rem;
      margin: 4rem 0;
      gap: 10rem;
      justify-content: center;
      border: 1px solid #26191130;
      box-shadow: 0 0 10px #26191130;
      position: relative;
      border-radius: 1rem;
      flex: 0;
    }
    @media (min-width: 1200px) {
      & {
        max-width: 60vw;
        padding: 8rem 10rem;
        gap: 8rem;
        border: 1px solid #26191130;
        box-shadow: 0 0 10px #26191130;
        position: relative;
        border-radius: 1rem;
      }
    }
  }
}

.wide {
  gap: 6rem;
  justify-content: start;
  @media screen and (min-width: 1200px) {
    & {
      min-width: 60vw;
      padding: 5rem 4rem;
      padding-bottom: 3.5rem;
      gap: 4rem;
    }
  }

  @media screen and (min-width: 700px) {
    & {
      max-width: 80vw;
      gap: 4rem;
    }
  }
}
