.container {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--gray-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--fg-color);
  }
}

.active {
  color: var(--fg-color);
}
