.list {
  width: 100%;
  list-style: none;
  border: none;
  border-radius: 10px;
  padding: 2rem 3rem;
  height: 100%;
  overflow-y: auto;

  @media (min-width: 1200px) {
    border: 0.5px solid var(--gray-color-secondary);
    height: 70vh;
    width: max-content;
    flex-shrink: 0;
  }
}

.item {
  cursor: pointer;
  color: var(--gray-color);

  &:hover {
    color: var(--fg-color);
  }
}

.btn {
  padding-bottom: 4rem;
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  width: max-content;
  gap: 2rem;
  color: inherit;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.last {
  padding-bottom: 0;
}

.active {
  color: var(--fg-color) !important;
}
