.container {
  width: 100%;
  align-items: center;
}

.bar {
  background-color: var(--gray-color);
  height: 20px;
  overflow-x: auto;
  border-radius: 20px;
  height: 100pxs;
  width: 100%;
  white-space: nowrap;
  overflow-y: visible;
}

.icon {
  border-radius: 100%;
  width: 20%;
  top: 0;
  height: 10px;
  overflow-y: visible;
  height: 40px;
}
