.timeline {
  width: 100%;
  height: 50px;
  overflow-x: auto;
}

.icon_container {
  white-space: nowrap;
  z-index: 200;
  margin-left: 6rem;
  margin: 0 auto;
  display: flex;
}

.icon {
  z-index: 200;
  position: relative;
  border-radius: 100%;
  background-color: var(--primary-color);
}

.icon:last-child {
  margin-right: 0;
}

.icon:first-child {
  margin-left: 10rem;
}

.bar {
  background-color: var(--gray-color-secondary);
  overflow-x: auto;
  border-radius: 10px;
  position: relative;
  height: 10px;
  transform: translate(0, -23px);
}

.button {
  cursor: pointer;
  padding: 0;
  margin-right: 5rem;
  border: none;
  outline: none;
  background-color: transparent;

  &:hover {
    outline: none;
    border: none;
  }
}
