.container {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  text-align: center;
  @media screen and (min-width: 1200px) {
    & {
      text-align: left;
      gap: 12rem;
    }
  }
}

.title {
  font-size: 2.8rem;
  color: var(--fg-color);
  font-weight: 600;
  text-align: center;
  @media screen and (min-width: 1200px) {
    & {
      font-size: 3.6rem;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @media screen and (min-width: 800px) {
    gap: 4rem;
  }
}

.logo {
  width: 8rem;
  align-self: center;
  @media screen and (min-width: 1200px) {
    & {
      width: 10rem;
    }
  }
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  @media screen and (min-width: 1200px) {
    & {
      display: grid;
      grid-template-columns: 40% 40%;
      grid-template-rows: auto auto;
      justify-content: space-between;
      row-gap: 8rem;
    }
  }
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @media screen and (min-width: 1200px) {
    & {
      align-items: flex-start;
    }
  }
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--fg-tertiary-color);
}

.feature_content {
  font-size: 2.4rem;
  color: var(--fg-color);

  @media screen and (min-width: 800px) {
    & {
      font-size: 2.8rem;
    }
  }
}

.btn {
  width: 70%;
  margin-top: 1rem;
}
